
html, body{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Noto Sans", sans-serif;
  font-display: swap;
}
/* 
Custom utility classes meant to help myself create a more unique look for my page.
*/
.list-group-item a{
  color: white;
}
.nav-item a{
  color: white;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-item i{
  color: white;
  transition: all 0.3s ease;
}
.nav-item a:hover{
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: white;
}
.navbar-border-white{
  border-style: solid;
  border-width: 0 0 0 3px;
  border-color: white;
}
.header-border-white{
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: white;
}
.standard-border-white{
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: white;
}
.bg-white{
  background-color: white;
}
.text-white{
  color: white;
}
.btn-white{
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: white;
  transition: all 0.3s ease;
}
.btn-white:hover{
  background-color: transparent;
}
.footer-copyright-text{
  font-size: 12px;
  text-align: center;
}

.language-icons{
  font-size: 56px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.language-icons:hover{
     font-size: 64px;
}
.attribution-text{
    font-size: 12px;
}