html, body{
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
  font-family: "Noto Sans", sans-serif;
  font-display: swap;
}
/* 
Custom utility classes meant to help myself create a more unique look for my page.
*/

.nav-item a{
  color: yellow;
  text-decoration: none;
  transition: all 0.3s ease;
}
.nav-item i{
  color: yellow;
  transition: all 0.3s ease;
}
.nav-item a:hover{
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: yellow;
}
.navbar-border-yellow{
  border-style: solid;
  border-width: 0 0 0 3px;
  border-color: yellow;
}
.header-border-yellow{
  border-style: solid;
  border-width: 0 0 3px 0;
  border-color: yellow;
}
.standard-border-yellow{
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: yellow;
}
.bg-yellow{
  background-color: yellow;
}
.text-yellow{
  color: yellow;
}
.btn-yellow{
  border-style: solid;
  border-width: 2px;
  border-color: yellow;
  background-color: yellow;
  transition: all 0.3s ease;
}
.btn-yellow:hover{
  background-color: transparent;
}
.footer-copyright-text{
  font-size: 12px;
  text-align: center;
}
.nav-logo a{
  text-shadow: 2px 2px rgb(208, 159, 0);
  transition: all 0.3s ease;
}
.nav-logo a:hover{
  text-shadow: none;
}
.language-icons{
  font-size: 56px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.language-icons:hover{
     font-size: 64px;
}
.attribution-text{
    font-size: 12px;
}